
<div id="errorContainer">
    <div id="errorLogo"><i class="fa fa-shekel fa-flip-horizontal"></i></div>
    <h1 id="errorTitle">You have been banned from accessing Petify.</h1>
    <span id="obnoxiousErrorText">
        {{reason}}
    </span>
</div>
