<button class="happyButton" ng-controller="AddController" ng-click="createAddView('radio')"><i class="fa fa-plus"></i>&nbsp;Create radio station</button>
<button class="happyButton" ng-controller="AddController" ng-click="createAddView('playlist')"><i class="fa fa-plus"></i>&nbsp;Create playlist</button>
<button class="happyButton" ng-controller="AddController" ng-click="createAddView('song')"><i class="fa fa-download"></i>&nbsp;Import Song</button>