<button class="happyButton" ng-controller="AdminController" ng-click="createAdminView('alerts')"><i class="fa fa-exclamation-circle"></i>&nbsp;Send Alert</button>
<button class="happyButton" ng-controller="AdminController" ng-click="createAdminView('users')"><i class="fa fa-users"></i>&nbsp;User Manager</button>
<button class="happyButton" ng-controller="AdminController" ng-click="createAdminView('songs')"><i class="fa fa-music"></i>&nbsp;Song Manager</button>
<button class="happyButton" ng-controller="AdminController" ng-click="createAdminView('settings')"><i class="fa fa-cog"></i>&nbsp;Settings</button>