<div class="songList fancyScroll" ng-controller="SongController">
    {{#if artists}}
        {{#each artists}}
            {{>artist}}
        {{/each}}
    {{else}}
        <div class="softError">There doesn't seem to be anything here.</div>
    {{/if}}
</div>