<h1 ng-controller="PlaylistController">{{#if info.private}}<i class="fa fa-lock" title="Private"></i>&nbsp;{{/if}}{{info.name}}
    {{#if isOwner}}
        <button class="happyButton" ng-click=""><i class="fa fa-pencil"></i> Edit</button><button class="happyButton"><i class="fa fa-trash"></i> Delete</button>
    {{/if}}
</h1>
<h2>{{info.count}} songs </h2>
<span class="inline addedBy" style="top: 10px;">Added By<span class="addedByName">
    {{> user user=info}}
</span></span>
<div class="songList" ng-controller="SongController">
    {{#each songs}}
        {{>song}}
    {{/each}}
</div>
