<h2>Available Radios <button class="happyButton" ng-controller="addController" ng-click="createAddView('radio')"><i class="fa fa-plus"></i>&nbsp;Create your own</button></h2>
<div id="radioList" class="songList">
    {{#each radios}}
       {{> radio}}
    {{/each}}
</div>
