<div id="allSongs" class="songList visible fancyScroll playable" ng-controller="SongController">
    {{#if songs}}
        {{#each songs}}
            {{>song}}
        {{/each}}
        <!--   This table was automatically created with Macromedia Fireworks 3.0   -->
        <!--   http://www.macromedia.com   -->
    {{else}}
        <div class="softError">There doesn't seem to be anything here.</div>
    {{/if}}

</div>