<h1>User Settings</h1>
<form id="userSettings" ng-controller="SettingsController">
    <div class="formInputGroup">
        <input type="checkbox" id="showSongInUrl" ng-model="settings.showSongInUrl"><label for="showSongInUrl">Show song ID in URL bar</label><br>
        <input type="checkbox" id="showSongInTitle" ng-model="settings.showSongInTitle"><label for="showSongInTitle">Show song name in page title</label>
    </div>
    <div class="formInputGroup">
        <h2>API Access</h2>
        <h3>Below is your key for accessing the API. Keep this secret as it has access to your full account. Regenerating the key will revoke the old one!</h3>
        <input readonly type="text" placeholder="You have not yet generated a key" id="apiKey" ng-model="settings.apiKey" class="fancyInput"><button class="happyButton" id="regenerateKey()" title="Regenerate key" ng-click="regenerateKey()"><i class="fa fa-repeat"></i></button>
    </div>
    <input type="submit" value="Save" class="happyButton">
</form>