@background-dark: #141415;
@background-color: #191919;
@background-light: #222;
@background-lighter: #373737;
@background-lightest: #1f1f1f;
@background-highlight: #5a5a5a;

@text-dark: #515151;
@text-color: white;

@icon-color: #9c9b9b;

@green: green;
@red: red;

@accent-color: #1ed760;

@text-size: 14px;
@titlebar-padding: 15px;
@sidebar-width: 15%;
@body-padding: -5px;
@song-padding: 7px;

@transition-time: 0.5s;

@albumart-height: 21vh;
@albumart-margin: 10%;

@login-padding: 5px;
@login-right-position: 2%;
@login-width: 5.1%;

@max-height: 95vh;
@max-width: 100%;

@timeElapsedBar-margin: 25px;

@modal-opacity: 0.5;

@import "fa/less/font-awesome";
@import "rzslider/rzslider.less";
@import "sections/mixins.less";
@import "sections/forms.less";
@import "sections/navbar.less";
@import "sections/sidebar.less";
@import "sections/modal.less";
@import "sections/main.less";
@import "sections/mobile.less";

body {
  background: @background-color;
  color: @text-color;
  font: @text-size "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: (@titlebar-padding * 2) + @text-size + @body-padding;
  overflow-x: hidden;
  position: absolute;
  width: @max-width;
  height: @max-height;
  top: 0;
  left: 0;
  margin: 0;
}

a {
  color: #00B7FF;
  text-decoration: none;
}


