<form>
    <div class="formInputGroup">
        <input type="text" class="fancyInput defaultValid" required id="newArtistName" value="{{song.artist_name}}" placeholder="Artist"> - <input type="text" class="fancyInput defaultValid" required id="newSongName" value="{{song.title}}" placeholder="Song Name">
    </div>
    <div class="formInputGroup">
        <input type="text" class="fancyInput defaultValid" required id="newAlbumName" value="{{song.album_name}}" placeholder="Artist">
    </div>
    <div class="formInputGroup">
        <input type="submit" class="happyButton" value="Save">
    </div>
</form>