<button class="happyButton" ng-click='$emit("openModal", "templates/modals/addToPlaylist/"+songId)'><i class="fa fa-plus"></i>Add to Playlist</button>
{{#if playlists}}
<h3>Song is in the following playlists:</h3>
<div id="playlistSongList" class="songList fancyScroll" ng-controller="SongController">
    {{#each playlists}}
        {{>playlist}}
    {{/each}}
</div>
{{else}}
    This song is not in any playlists yet.
{{/if}}